<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/chatRoom.css">
    <script src="/static/js/chatRoom.js"></script>
</head>
<body>

<div class="chat page">
    <div class="chatArea">
        <ul class="messages"></ul>
    </div>
    <span class="inputName" id="name">{{.name}}</span>
    <input id="inputMessage" class="inputMessage" placeholder="Type here..."/>
</div>
</body>
</html>