<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Room</title>
    <link href="/static/css/bootstrap4.1.0.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap4.1.0.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <style>
        html, body {
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
<div class="text-center shadow py-5 px-2 bg-white rounded" style="margin: 10% 20% 0 20%;">
    <h1>Welcome to Chat Room</h1>
    <div class="row mt-5">
        <form class="form-inline container" action="/chatRoom">
            <div class="input-group" style="margin:0 auto;">
                <div class="input-group-prepend">
                    <span class="input-group-text">name</span>
                </div>
                <input type="text" class="form-control" name="name" placeholder="input your name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Go</button>
                </div>
            </div>
        </form>
    </div>
    <p class="mt-4 text-muted">@<a href="https://github.com/99MyCql">douNine</a></p>
</div>
</body>
</html>