/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family:
            "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Helvetica,
            Arial,
            "Lucida Grande",
            sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    text-align:center;
    line-height:  20px;
    z-index: 20;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */


.page {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}



/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 60px;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 5vw;

    display: flex;
    justify-content:center;
    align-items:Center;

    font-size: 4vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inputMessage {
    border: 8px solid #000;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 5vw;
    outline: none; 
}